<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954782046444-9ccqaja7hdann838phe33viee9trihqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954782046444-9ccqaja7hdann838phe33viee9trihqh</string>
	<key>API_KEY</key>
	<string>AIzaSyBxipXB6uqwHyNvLDfyDx-GNXc2rbCypV8</string>
	<key>GCM_SENDER_ID</key>
	<string>954782046444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hardAndSoftMobile</string>
	<key>PROJECT_ID</key>
	<string>smart-tech-5d678</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-tech-5d678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954782046444:ios:953e8520726ab48bf72dc9</string>
</dict>
</plist>